
/* This is my first proper css file */

body{
    background-color: #667666;
    max-width: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Rajdhani', sans-serif;
}

.chart{
    background-color: white;
    width: auto;
    margin: auto;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}
